<div class="row">
    <h1>Nuestros servicios</h1>
    <ul>
        {{#each services}}
        <li>
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <button><a href="{{url}}">Botón</a></button>
        </li>
        {{/each}}
    </ul>
</div>