<div class="row">
    <h1>Nuestros servicios</h1>

    {{#each services as |service|}}
    <div class="card mb-2">
        <div class="card-body">
            <h2 class="card-title">{{service.name}}</h2>
            <p>{{description}}</p>
            <a href="{{service.url}}">mas informacion</a>
        </div>
    </div>
    {{/each}}

</div>