<div class="row">
    <h1>Nuestros servicios</h1>
    <ul>
        {{#each services}}
        <li>
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <a href="{{url}}">mas informacion</a>
        </li>
        {{/each}}
    </ul>
</div>